
body {

  font-family:TimesNewRomans;
  background-image: url(C://Webtechnik/Website/project-overview-co2emissionen-habenschuss-and-maringer/CO2h.jpg);
  background-size: cover;
  margin-left: 80px;
  color: lightyellow;
}

img{
  cursor: pointer;
  border-style: groove;
}

h1{
  font-family: Helvetica;
  font-size: 2.9em;
  color: powderblue ;
}
h2{
  font-family: Helvetica;
  font-size: 2.3em;
  color: powderblue ;
}
